phpmyadmin
application/cache/*
stats/
avatar/wpilife*.jpg
images/shop/*
kindeditor/attached/
phpinfo.php
php.ini
*.swp
!images/shop/no_cover.png
!images/shop/no_cover_small.png
elfinder/files/*
files/*
captcha/*
*.txt
.idea/
*.zip
application/config/database.php
application/config/email.php
